# Base de datos (XAMPP por defecto)
DB_HOST=localhost
DB_NAME=tiendaphp
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# URL base del proyecto (cambia si lo mueves de carpeta)
BASE_URL=/ProyectoTiendaPHP

# -------------------------------------------------------
#  SMTP - Configuracion del correo electronico
#  Rellena estos datos con los de tu bandeja de Mailtrap
#  (Email Testing -> My Inbox -> SMTP Settings)
# -------------------------------------------------------
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_user
SMTP_PASS=tu_password
SMTP_FROM=no-responder@tiendaphp.local
SMTP_FROM_NAME=Tienda PHP

# Datos Paypal
PAYPAL_CLIENT_ID=tu_cliente
PAYPAL_SECRET=tu_secreta
# usuario y contraseña para los pagos
#mail: sb-cobow50845084@personal.example.com   contraseña: +?9w4JUa

#Google
GOOGLE_CLIENT_ID=tu_cliente
GOOGLE_CLIENT_SECRET=tu_secreta
GOOGLE_REDIRECT_URI=http://localhost/ProyectoTiendaPHP/auth/googleCallback