# Redirigir todas las peticiones a public/
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ProyectoTiendaPHP/Tienda-PHP/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>